* {
    padding: 0px;
    margin: 0px;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: black;
    color: azure;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    height: 40px;
    position: fixed;
    width: 100%;
}

p {
    font-family: 'Roboto', sans-serif;
    margin-top: 1px;
    font-size: 20px;
    margin-left: 10px;
}

header h1 {
    margin-right: 20px;
    font-size: 30px;
}

nav ul {
    list-style: none;
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
}

nav li {
    margin-left: 25px;
}

nav li :hover {
    color: bisque;
    border: azure 1px solid;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: -10px;
    margin-right: -10px;
    width: 50px
    
}

a {
    text-decoration: none;
    color: azure;
}

main {
    background-image: url(https://images.pexels.com/photos/2330137/pexels-photo-2330137.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    height: 600px;
    background-repeat: none;
    background-size: cover;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;800;900&display=swap');

h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 50px;
    color: azure;
    font-weight: lighter;
    padding-top: 150px;
    margin-left: 70px;
}

h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 80px;
    color: azure;
    margin-left: 70px;
}

.grafik  {
    font-family: 'Rubik', sans-serif;
    color: azure;
    margin-left: 70px;
    letter-spacing: 10px;
}


.resume {
    display: flex;
    color: white;
}

.resume a {
    background-color: transparent;
    color: azure;
    text-decoration: none;
    font-family: 'Rubik', sans-serif ;
    margin-top: 20px;
    margin-right: 25px;
    padding: 5px 20px;
    border: 1px solid;
    border-radius: 30px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.resume {
    margin-left: 90px;
}

.resume :hover {
    background-color: rgb(110, 115, 115);
    color: bisque;
    box-shadow: 0 0 10px white;
    transition: all 0.5s;
}

i {
    margin-top: 130px;
    margin-left: 80px;
}

.fa-linkedin-in {
    margin-left: 10px;
}
.fa-instagram {
    margin-left: 10px;
}
.fa-whatsapp {
    margin-left: 10px;
}

.fa-crown {
    margin-top: 10px;
}


section {
    height: 10rem;
}

.maen {
    height: 670px;
    background-color: rgb(36, 35, 35);
    color: azure;
    border: azure 1px solid;
}

.text {
    text-align: center;
    padding-top: 50px;
}

.text3 {
    font-size: 30px;
}
hr {
    width: 25%;
}

img {
    height: 200px;
    margin-left: 70px;
    margin-top: 30px;
    border: whitesmoke 4px solid;
}

.paragraf p{
   text-align: center;
   padding-left: 50px;
   font-size: 25px;
   font-weight: 500;
   margin-top: 28px;
}

.paragraf {
    display: flex;
    margin-left: 30px;
}

.text3 {
    font-weight: 600;
}

.profesi {
    font-size: 15px;
    padding-left: 20px;
    font-weight: 300;
}

.profesi-content {
    padding-left: 54px;
}

.maen2 {
    height: 670px;
    background-color: rgb(36, 35, 35);
}

.myskill {
    font-size: 45px;
}

h2.h21 {
    font-size: 27px;
    margin-left: 2px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    
}

.skill {
    width: 200px;
    margin-bottom: 20px;
    margin-left: 80px;
}

.skill .h21 {
    text-align: center;
}

.skill-bar {
    background-color: #ddd;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
    
}

.skill-level {
    height: 100%;
    background-color: #4caf50;
}

.service-container {
    background-color: bisque;
    height: 290px;
}

.service {
    display: flex;
    padding-left: 470px;
    display: inline-table;
}

@media only screen and (max-width: 580px) {
    header {
      height: 50px;
      flex-direction: column;
    }
  
    nav ul {
      margin: 0px;
    }
  
    nav li {
      margin: 10px 12px;
    }
  
    p {
      margin: 10px 0;
      margin-right: 0;
      display: none;
    }

    #pindah2 h2 {
        margin-left: 225px;
    }
    #pindah2 h1 {
        margin-left: 150px;
    }
    .resume {
        padding-left: 160px;
    }
  
    main {
      height: 1000px;
    }

    h2 {
        padding-top: 400px;
    }
  
    h1, .grafik, .resume {
      margin-left: 20px;
    }
  
    .resume {
      margin-left: 10px;
    }
  
    i {
      margin: 10px;
      margin-left: 10px;
    }
  
    footer {
      text-align: center;
    }
  
    .maen {
      height: 1000px;
      padding-top: 100px;
      padding-left: 100px;
    }

    .text2 h1 {
        margin-top: 400px;
    }
    img {
      margin-left: 10px;
      height: 120px;
    }
  
    .paragraf p {
      padding-left: 10px;
      font-size: 16px;
    }
  
    .text3 {
      font-size: 18px;
      padding-left: 25px;
    }
  
    .profesi-content {
      padding-left: 10px;
    }
  
    .maen2 {
      height: auto;
    }
  
    .myskill {
      font-size: 30px;
    }
  
    h2.h21 {
      font-size: 18px;
      margin-left: 2px;
    }
  
    .skills-container {
      justify-content: center;
    }
  
    .skill {
      margin-left: 10px;
    }
  
    .service-container {
      height: auto;
    }
  
    .service {
      padding-left: 10px;
    }
  }



